<nav th:fragment="navbar" class="nav-wrapper">
    <div class="container">
        <a href="/" class="brand-logo">
            <img th:src="@{/assets/logo.png}" alt="Spellbreaker Logo" style="height: 73.5px;">
        </a>
        <a href="#" data-target="mobile-demo" class="sidenav-trigger">
            <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li><a href="/purchase-orders">Purchase Orders</a></li>
            <li><a href="/parts">Parts Inventory</a></li>
            <li>
                <form th:action="@{/add-device}" method="get" style="display: inline;">
                    <button type="submit" class="btn blue" id="add-device-button">
                        Add Device
                    </button>
                </form>
            </li>
            <li>
                <form th:action="@{/logout}" method="post" style="display: inline;">
                    <button type="submit" class="btn red" id="logout-button">
                        Logout
                    </button>
                </form>
            </li>
        </ul>
    </div>

    <ul class="sidenav" id="mobile-demo">
        <li><a href="/purchase-orders">Purchase Orders</a></li>
        <li><a href="/parts">Parts Inventory</a></li>
        <li>
            <form th:action="@{/add-device}" method="get" style="display: inline;">
                <button type="submit" class="btn blue" id="add-device-button">
                    Add Device
                </button>
            </form>
        </li>
        <li>
            <form th:action="@{/logout}" method="post" style="display: inline;">
                <button type="submit" class="btn red" id="logout-button">
                    Logout
                </button>
            </form>
        </li>
    </ul>
</nav>
