<html lang="en">
<head>
  <meta charset="utf-8">
  <title>HexVault - Adding Device</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!--  Tailwind CSS  -->
  <script src="https://unpkg.com/@tailwindcss/browser@4"></script>
  <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
  <script src="https://cdn.tailwindcss.com"></script>

  <!-- Sortable JS -->
  <script src="https://cdn.jsdelivr.net/gh/tofsjonas/sortable@latest/dist/sortable.min.js"></script>

  <!-- Import JS for jQuery -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-csv/1.0.11/jquery.csv.min.js"></script>

  <script>
    // Tailwind Configuration for dark mode
    tailwind.config = {
      darkMode: 'class', // Enables class-based dark mode
    };

    // Preserve mode preference in localStorage
    document.addEventListener("DOMContentLoaded", () => {
      const htmlElement = document.documentElement;
      const mode = localStorage.getItem("theme");

      if (mode === "dark") {
        htmlElement.classList.add("dark");
      } else {
        htmlElement.classList.remove("dark");
      }
    });
  </script>

  <link rel="stylesheet" th:href="@{/assets/style.css}">
  <link rel="stylesheet" th:href="@{/assets/grid-form.css}">
</head>

<script>
  function updateSuggestions(input, type) {
    const query = input.value;

    if (query.length === 0) {
      hideSuggestions(type);
      return;
    }

    const url = `/api/autocomplete?query=${query}&type=${type}`;
    fetch(url)
            .then(response => response.json())
            .then(customers => {
              const suggestionBox = document.getElementById('suggestions-box');
              suggestionBox.innerHTML = customers
                      .map(customer => `
                        <li
                            class="w-auto my-[10px] font-thin p-[4px] shadow-white outline-2 outline-offset-2 outline-primary-50 outline rounded-xl text-center align-middle inline-block xl:w-auto xl:my-[10px] xl:font-thin xl:p-[4px]"
                            onclick="selectCustomer('${customer.email}', '${customer.phoneNumber}', '${customer.name}')"
                            >
                            ${customer.name}<br>
                            ${customer.email}<br>
                            ${customer.phoneNumber}
                        </li>`)
                      .join('');
              console.log("Fetched suggestions:", customers);
              if (customers.length === 0) {
                suggestionBox.style.display = 'none';
              } else {
                suggestionBox.style.display = 'block';
              }
            })
            .catch(err => console.error('Error fetching suggestions:', err));
  }

  function selectCustomer(email, phone, name) {
    // Autofill email and phone inputs
    document.getElementById('email').value = email;
    document.getElementById('phone').value = phone;
    document.getElementById('firstName').value = name.split(" ")[0];
    document.getElementById('lastName').value = name.split(" ")[1];

    // Hide both suggestion boxes
    hideSuggestions('email');
    hideSuggestions('phone');
  }

  function hideSuggestions(type) {
    document.getElementById('suggestions-box').style.display = 'none';
  }

</script>

<body class="font-body antialiased dark:bg-gray-800">
<div class="font-body antialiased">
  <div class="w-auto h-auto place-items-center grid xl:w-auto xl:h-auto">
    <div class="my-[100px] xl:my-[100px]">
        <span class="w-[216px] h-[216px] xl:w-[216px] xl:h-[216px]">
          <span class="text-current w-24px h-24px w-[inherit] h-[inherit] xl:text-current">
            <svg
                    class="w-[inherit] h-[inherit]"
                    xmlns="http://www.w3.org/2000/svg"
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 16 16">
              <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"></path>
              <path
                      fill-rule="evenodd"
                      d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"></path>
            </svg>
          </span>
        </span>
    </div>
    <form
            data-error="&amp;lt;p&amp;gt;Something went wrong. Please try again&amp;lt;/p&amp;gt;"
            data-success="&amp;lt;p&amp;gt;Thank you for your submission.&amp;lt;/p&amp;gt;"
            th:action="@{/add-device}" method="post"
            class="grid grid-cols-3 gap-4">
      <input
              id="firstName"
              name="firstName"
              autocomplete="off"
              required
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 col-span-1 p-2"
              type="text"
              placeholder="First Name" />
      <input
              id="lastName"
              name="lastName"
              autocomplete="off"
              required
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 col-span-1 p-2"
              type="text"
              placeholder="Last Name" />
      <input
              id="deviceId"
              name="deviceId"
              autocomplete="off"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 col-span-1 p-2"
              type="text"
              placeholder="IMEI/Serial" />
      <input
              id="deviceName"
              name="deviceName"
              autocomplete="off"
              required
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 col-span-1 p-2"
              type="text"
              placeholder="Device Name" />
      <input
              id="email"
              name="email"
              autocomplete="off"
              required
              oninput="updateSuggestions(this, 'email')"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 col-span-1 p-2"
              type="text"
              placeholder="Email" />
      <input
              id="phone"
              name="phone"
              autocomplete="off"
              required
              oninput="updateSuggestions(this, 'phone')"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 col-span-1 p-2"
              type="text"
              placeholder="Phone Number" />
      <textarea
              id="desc"
              name="desc"
              autocomplete="off"
              class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 col-span-3 p-2"
              placeholder="Description"></textarea>
      <button
              id="submit"
              class="text-white bg-primary disabled:bg-gray-400 px-4 py-2 flex items-center gap-x-2 rounded-full col-start-2"
              type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
<div class="flex place-content-center">
  <ul class="w-[30%] my-[10px] text-center place-self-center xl:w-[30%] xl:my-[10px] list-none" id="suggestions-box">
  </ul>
</div>
</body>

</html>
