<!DOCTYPE html>
<html lang="en">
<script>
    const theme = localStorage.getItem('theme');
    if (theme) document.documentElement.setAttribute('theme', "dark");
</script>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.1.1/dist/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/@materializecss/materialize@2.1.1/dist/js/materialize.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <link rel="stylesheet" th:href="@{/assets/styles.css}">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <title>Devices</title>
</head>
<body>

<div th:replace="fragments/header :: header"></div>

<h1 style="text-align: center">Devices</h1>

<nav class="level" style="margin-top: 10px">
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Awaiting Repair</p>
            <button id="awaiting-repair" class="title" onclick="location.href='/';"></button>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">In Progress</p>
            <button id="in-progress" class="title" onclick="location.href='/devices/ip';"></button>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Ready for Pickup</p>
            <button id="ready-for-pickup" class="title" onclick="location.href='/devices/rfp';"></button>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div>
            <p class="heading">Need To Order</p>
            <button id="need-to-order" class="title" onclick="location.href='/devices/nto';"></button>
        </div>
    </div>
    <div class="level-item has-text-centered">
        <div class="active-level">
            <p class="heading">Awaiting Parts</p>
            <button id="awaiting-parts" class="title" onclick="location.href='/devices/ap';"></button>
        </div>
    </div>
</nav>

</body>
</html>